@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Fleur+De+Leah&family=Great+Vibes&family=Grey+Qo&family=Luxurious+Script&family=Mea+Culpa&family=Miss+Fajardose&family=Monsieur+La+Doulaise&family=Nosifer&family=Romanesco&family=Sail&family=Tangerine&display=swap');

body
{
    margin: 0;
    padding: 0;
    background: url('img/postagem/rosa.jpg'); /*Link da imagem: https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2F736x%2F0e%2Fa0%2F5a%2F0ea05af78599de88f24dfc490a5e1e1b.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.es%2Fpin%2F755408537478575565%2F&tbnid=HpV0abc_gUJdgM&vet=12ahUKEwiW_PiFv9z1AhXZMrkGHfjoBREQMygbegUIARCSAg..i&docid=Kzg7TuzrrLNRLM&w=736&h=552&itg=1&q=rosa%20triste&ved=2ahUKEwiW_PiFv9z1AhXZMrkGHfjoBREQMygbegUIARCSAg*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;    
}

#public
{
    text-align: center;
    margin-top: 30px;   
}

.public1
{
    background-color: rgba(247, 240, 240, 0.5);
    border: 3px solid rgb(247, 5, 5);
    border-radius: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

.public1 h3
{ 
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    color: rgb(12, 3, 3);
    font-family: 'Fleur De Leah', cursive;
}

.public2
{
    display:flex;
    flex-direction: row-reverse; 
}

.public2 img
{
    width: 350px;
    height: 350px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 80px;
    border-radius: 400px;
    border: 10px;
    border-style:double;
    border-color: rgb(252, 7, 7); 
}

.public2 p
{
    padding: 10px;
    font-size: 32px;
    text-align: justify;
    margin-top: 20px;
    color: rgb(7, 1, 1);
    font-family: 'Fleur De Leah', cursive;
}

.btn
{
    position: relative;
    display: inline-block;
    padding: 5px 2px;
    margin: 10px;
    color: red;
    text-shadow: 1px 1px 1px rgb(214, 194, 194);
    border: 1px outset rgba(247, 240, 240, 0.5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transform: 0.25s;
    font-family: 'Nosifer', cursive;
}

.btn:hover
{
    color: white;
    background: rgb(241, 2, 2);
}

/*Responsivo*/
@media screen and (min-width:0px) and (max-width:500px)
{
    body
    {
        background: url('img/postagem/rosa.jpg');
        background-size: 490%;
        background-repeat:no-repeat;
    }

    #public
    {
        margin-top: 25px; 
    }

    .public1 
    {
        border-radius: 20px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .public1 h3
    {
        font-size: 50px;
        margin-top: 20px;
    }

    .public2
    {
        display:block;
    }

    .public2 img
    {
        width: 200px;
        height: 200px;
        margin-top: 30px;
    }

    .public2 p
    {
        padding: 10px; 
        font-size: 31px;
        margin-top: 2px;
    }

    .btn
    {
        padding: 5px 1px;
        font-size: 10px;
    }
}


@media screen and (min-width:501px) and (max-width:800px)
{
    body
    {
        background: url('img/postagem/rosa.jpg');
        background-size: 231%;
        background-repeat:no-repeat;
    }
    #public
    {
        margin-top: 25px; 
    }
    .public1
    {
        border-radius: 20px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .public1 h3
    {
        font-size: 50px;
        margin-top: 20px;
    }
    .public2
    {
        display:block;
    }
    .public2 img
    {
        width: 150px;
        height: 150px;
        margin-top: 30px;
       
    }
    .public2 p
    {
        padding: 10px; 
        font-size: 31px;
        margin-top: 2px;
    }
    .btn
    {
        padding: 5px 1px;
        font-size: 10px;
    }
}
